[Desktop Entry]
Version=1.0
Name=RetroRig-ES
GenericName=RetroRig-ES Project
Comment=RetroRig Project Desktop launcher
Exec=/usr/share/applications/startRetroES.sh
Icon=/usr/share/icons/retro-icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=Fullscreen;Standalone;
